/*リセットなどの初期設定*/
h1,h2,h3,h4{font-weight:normal;
            text-decoration:none;
            margin: 0;
            color:#333333;}
body        {margin: 0px;
             text-align:center;
             color:#333333;
             line-height:1.5;}

p           {margin:0;
             padding:0;}

.clearfix:after{
                      content: "."; 
                      display: block; 
                      height: 0; 
                      font-size:0;  
                      clear: both; 
                      visibility:hidden;
}


/*レイアウト*/
a           {text-decoration:none;
             font-style: italic;}



hr.dotted   {display: block;
            width: 100%;
            margin: 40px 0 ;
            border: none;
            border-top: 1px dotted #333;
            }

span.big_arrow {font-size:60px;
                color:#e6e6e6;}


/*共通デザイン部分*/
div#header_navi_title   {text-align:center;
                   width: 100%;
                   background-color: #faf9f6;}

h1.app_title {float:left;
              font-size:32px;
              line-height:60px;
              margin-left:12px;
              padding:0;
              font-style: oblique;
              display:inline-block;
              & a{color:#ce3e3e;}
              font-family: 'Crimson Text', serif;
              }

h1.page_title {ont-size:32px;}

a.menu_button  {float:right;
                display: block;
                line-height: 60px;
                font-size: 11px;
                margin-right:12px;
                text-transform: uppercase;
                color: #333333;
                text-decoration: none;}


div#header_navi_menu {width:100%;
                      border-bottom: solid 1px #e6e6e6;}
div#header_navi_menu a{color:#ffffff;
                       font-size:18px;
                       float:right;
                       line-height:44px;
                       padding: 0 12px;
                       margin-left: 2px;
                       font-family: 'Oswald', sans-serif;
                       font-style: italic;
                       &.selected {background-color:#ffffff;
                       color:#ce3e3e;}
                       }



div#header_navi_menu a.user_button {
                      background-color:#333333;}

div#header_navi_menu a.like_button {background-color:#E2B7B0;}

div#inner_88box  {width:88%;
                   margin: 0 auto;}

div#footer       {
                  bottom: 0;
                  padding:40px 0;
                  background-color:#231F20;
                  color:#ffffff;}


/*コンテンツ部分*/
div#grobal        {width:100%;
                   margin: 40px 0 40px 0;}

div#inner_grobal  {width:100%;
                   box-sizing:border-box;
                   text-align:center;}

div.left      {width:50%;
               padding: 0 3% 0 6%;
               box-sizing:border-box;
               float:left;}
div.right     {width:50%;
               padding: 0 6% 0 3%;
               box-sizing:border-box;
               float:left;}

h2.genre_head {text-align:center;
               font-size:14px;}

div.topic_box {width: 100%;
               padding: 0 0 12px 0;
               border-bottom: 3px solid #e6e6e6;
               margin-bottom:12px;
               background-color:#ffffff;
               box-sizing:border-box;}

div.topic_box a {color:#0000ee;}

div.topic_box a.url {font-size:12px;display:block;
                     margin-bottom:12px;}

div.topic_box img {width: 100%;
               border: 20px solid #e6e6e6;
               margin-bottom:12px;
               background-color:#ffffff;
               box-sizing:border-box;}

.topic_box p.title  {font-size:32px;
                     font-style:oblique;
                     margin-bottom:12px;}



p.genre {color:#333333;}

p.text {color:#333333;
        margin-bottom:12px;}

/*切り抜きボタン*/
div.topic_box a.like_button        {border:solid 1px#E2B7B0;
                                    color:#333333;
                                    padding:8px;
                                    display:block;
                                    margin:12px 0;
                                    font-family: 'Oswald', sans-serif;
                                    }

div.topic_box a.like_button:hover   {background-color:#E2B7B0;
                                     color:#ffffff;}




