<!DOCTYPE html>
<html>
<head>
<title>Newsapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <div id="header_navi">
      <h1 class="app_title"><a href="/"><span style="font-size:12px;">日刊</span> 特注新聞</a></h1>
      <a class="menu">切り抜き一覧</a>
      <a class="menu selected">読む・切り抜く</a>
    </div>
    <div id="header_inner">
      <hr class="dotted">
      <p>『特注新聞』とは、眠っている間に新着のプログラミング関連ニュースと依存症関連ニュースだけをまとめてくれる、私にしか需要のな無さそうな特注の新聞アプリケーションです。ただでさえニッチな新聞ですが、好きな記事を切り抜いて保存し、『特注の特注新聞』を作ることもできます!</p>
      <hr class="dotted">
    </div>
  </header>

  <%= yield %>

  <div id="footer">
  a
  </div>

</body>
</html>
