<!DOCTYPE html>
<html>
<head>
  <title>Newsapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Title</h1>

    <div id="menu">
      <ul>
        <li>ギャンブル依存症</li>
        <li>プログラミング</li>
      </ul>
    </div>



  </header>

  <%= yield %>

</body>
</html>
